<div class="object">
            <div class="row">
                <div class="left col-10 d-flex justify-content-center">
                    <h5><a href="{% url 'view_poll' poll.pk %}">{{ poll.question }}</a></h5>
                </div>
                <div class="right col-2 d-flex justify-content-end">
                    <p><a href="{% url 'update_poll' poll.pk %}"><i class="far fa-edit"></i></a></p>
                    <p><a href="{% url 'delete_poll' poll.pk %}"><i class="far fa-trash-alt"></i></a></p>
                </div>
            </div>
        <div class="d-flex col-10 ">
            <p class="ml-auto text mt-5 col-12">Дата создания: {{ poll.created_at|date:'Y-m-d H:i:s' }}</p>
            <a href="{% url 'create_answer' poll.pk %}">Ответить на этот опрос</a>
        </div>
        </div>