<div class="object">
            <div class="row">
                <div class="left col-10 d-flex justify-content-center">
                    <h5><a href="{% url 'view_poll' poll.pk %}">{{ poll.question }}</a></h5>
                </div>
                <div class="right col-2 d-flex justify-content-end">
                    <p><a href="{% url 'update_poll' poll.pk %}"><i class="far fa-edit"></i></a></p>
                    <p><a href="{% url 'delete_poll' poll.pk %}"><i class="far fa-trash-alt"></i></a></p>
                </div>
            </div>
        <div class="d-flex col-12 ">
            <p class="ml-auto text mt-5 col-4">Дата создания: {{ poll.created_at|date:'Y-m-d H:i:s' }}</p>
            {% if poll.choices.all %}
            <a class="mr-auto text mt-5 col-4" href="{% url 'create_answer' poll.pk %}">Ответить на этот опрос</a>
                <a class="mr-auto text mt-5 col-4" href="{% url 'poll_stats' poll.pk %}">Статистка у этого опроса</a>
            {% else %}
                <p class="mr-auto text mt-5 col-8">У этого опроса еще нет ответов</p>
            {% endif %}
        </div>
        </div>